<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <p class="pull-left">
        Copyrights &copy; 2023 <a href="https://github.com/williamrezendee" class="color-blue strong" target="_blank">William Rezende</a>. Todos os direitos reservados.
    </p>
    <p class="pull-right">
        <a href="#" class="mr5">Termos de uso</a>
        |
        <a href="#" class="ml5 mr25">Política de privacidade</a>
    </p>
</div>